<!DOCTYPE html>
<% if (open) { %>
    <div class="titlebar">
        <span class="glyphicon glyphicon-chevron-right" title="<%= i18nHideSwitcher %>"></span>
        <div class="title"><%= i18nTitle %></div>
    </div>
    <div class="expanded">
        <% _.each(previews, function (preview) { %>
            <% if (preview.layer === activeLayer) { %>
                <div class="backgroundswitcher-preview active">
            <% } else { %>
                <div class="backgroundswitcher-preview">
            <% } %>
                <div class="backgroundswitcher-label">
                    <%= preview.layer.name %>
                </div>
                <img src=" <%= preview.img %> " id="<%= preview.layer.id %>"/>
            </div>
        <% }); %>
    </div>
<% } else { %>
    <div class="titlebar">
        <span class="glyphicon glyphicon-chevron-left" title="<%= i18nShowSwitcher %>"></span>
        <div class="title"><%= i18nTitle %></div>
    </div>
    <div class="collapsed">
        <% _.each(previews, function (preview) { %>
            <% if (preview.layer === activeLayer) { %>
                <div class="backgroundswitcher-preview active">
                        <div class="backgroundswitcher-label">
                                <%= activeLayer.name %>
                        </div>
                        <img src=" <%= preview.img %> " id="<%= preview.layer.id %>"/>
                </div>
            <% } %>
        <% }); %>
    </div>
<% } %>
