/* Overrides: Needed for the masterportal button design */
.introjs-button,
.introjs-button:hover,
.introjs-button:active,
.introjs-button:focus {
    border: unset;
    background-color: unset;
    box-shadow: unset;
}

/* Overrides to allow bigger content, e.g. images */
.introjs-tooltip {
    max-width: unset;
    width: fit-content;
}

/* Ensure that image size does not exceed the screen width */
.introjs-tooltip img {
    max-width: 90vw;
    height: auto;
}

/* Fix positioning of tooltips when no highlight element is defined */
.introjs-tooltipReferenceLayer.fix-top {
    top: 0 !important;
}

.introjs-tooltipReferenceLayer.fix-top .introjs-tooltip {
    margin-top: 5vh !important;
}
