<!DOCTYPE html>
<div class="coordinate-transform">
    <p>
        <% if (availableSourceCrs.length > 0) { %>
            <%= i18nChooseCrsBySelecting %>
        <% } else { %>
            <%= i18nChooseCrsByTyping %>
        <% } %>
        <%= i18nDescription %>
    </p>
    <div class="coordinate-title-wrapper">
        <div class="coordinate-source">
            <%= i18nCrsSource %>:
        </div>
        <div class="coordinate-target">
            <%= i18nCrsTarget %>:
        </div>
    </div>
    <div class="coordinate-crs-wrapper">
            <div class="ui-widget">
                <% if (availableSourceCrs.length > 0) { %>
                    <select id="sourcecrs" placeholder="<%= i18nCrsPlaceHolder %>">
                        <% _.each(availableSourceCrs, function (crs) { %>
                            <option value=<%= crs %>>EPSG:<%= crs %></option>
                        <% }); %>
                    </select>
                <% } else { %>
                    <input id="sourcecrs" placeholder="<%= i18nCrsPlaceHolder %>"/>
                <% } %>
            </div>
            <div class="ui-widget">
                <% if (availableTargetCrs.length > 0) { %>
                    <select id="targetcrs" placeholder="<%= i18nCrsPlaceHolder %>">
                        <% _.each(availableTargetCrs, function (crs) { %>
                            <option value=<%= crs %>>EPSG:<%= crs %></option>
                        <% }); %>
                    </select>
                <% } else { %>
                    <input id="targetcrs" placeholder="<%= i18nCrsPlaceHolder %>"/>
                <% } %>
            </div>
    </div>
    <div class="coordinate-wrapper">
        <div class="coordinate-input">
            <textarea id="input" rows="5" cols="20" placeholder="<%= i18nCoordinateInputPlaceHolder %>"></textarea>
        </div>
        <div class="coordinate-output">
            <textarea readonly id="output" rows="5" cols="20" placeholder="<%= i18nResult %>"></textarea>
        </div>
    </div>
</div>
